@using Accounting.Domain.Models;
@using Accounting.Domain.ViewModels
@model IEnumerable<Group>

<div class="container">
    <h4 class="text-center">Групи</h4>
    <div class="col-md-6 m-auto" style="overflow: scroll; max-height: 600px">
        <ul class="list-group" id="groupsUl">
            @foreach (var item in Model)
            {
                <li class="list-group-item">@item.Name</li>
            }
        </ul>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createGroupModal">
        Створити групу
    </button>
</div>

@await Html.PartialAsync("CreateGroupPartial", new GroupViewModel())
