@using Accounting.Domain.ViewModels
@model GroupViewModel


<!-- Modal -->
<div class="modal fade" id="createGroupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createGroup">
                    <label asp-for="Name" class="form-label">Назва</label>
                    <input asp-for="Name" class="form-control"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Зачинити</button>
                <button type="button" onclick="sendForm('createGroup', '/Group/Create', 'groupsUl')" class="btn btn-primary">Створити</button>
            </div>
        </div>
    </div>
</div>
