@using Accounting.Domain.ViewModels
@model UpdateAccrualViewModel
@{
    var formId = Model.EmployeeId + "updateAccrualForm";
    var formTdId = Model.EmployeeId + "tdForm";
}
<li class="list-group-item" id="@formTdId">
    @Model.Ammount
    <form asp-action="AddAccrualToEmployee" asp-controller="Document" id="@formId">
        <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
        <input asp-for="AccrualId" type="hidden" />
        <input type="number" name="Ammount" class="form-control" />
        <button type="button" onclick="sendForm('@formId', '/Document/UpdateAccrual', '@formTdId')" class="btn btn-info mx-auto">Оновити</button>
    </form>
</li>
